mat-grid-tile{

    border-radius: 50px;

}

.storyTitle{
    padding-top: 30px;
    font-size: 25px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    

}